flow.json
[{"id":"d3ca6294.43ad78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"d3ca6294.43ad78","name":"","active":true,"console":"false","complete":"false","x":690,"y":40,"wires":[]},{"id":"a029aa89.ce848","type":"ui_form","z":"d3ca6294.43ad78","name":"","label":"","group":"","order":0,"width":0,"height":0,"options":[{"label":"user","value":"userdata","type":"text","required":true,"rows":null}],"formValue":{"userdata":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":200,"wires":[["79a57c98.de9ae4"]]},{"id":"79a57c98.de9ae4","type":"function","z":"d3ca6294.43ad78","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["41b1496c.f77a6","53bbfe91.1272c8"]]},{"id":"4bfe7018.60a14","type":"function","z":"d3ca6294.43ad78","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["6030e49b.5d349c"]]},{"id":"41b1496c.f77a6","type":"ui_text","z":"d3ca6294.43ad78","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":260,"wires":[]},{"id":"53bbfe91.1272c8","type":"watson-conversation-v1","z":"d3ca6294.43ad78","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":460,"y":100,"wires":[["f2f2649a.0d0d98","4bfe7018.60a14"]]},{"id":"6030e49b.5d349c","type":"ui_text","z":"d3ca6294.43ad78","group":"","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":300,"wires":[]}]
