Vinayak/flow.json
[{"id":"28b69647.0d3f7a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a82ee2ab.0a457","type":"function","z":"28b69647.0d3f7a","name":"F1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":200,"wires":[["a621d728.c4c908","309519ef.64f7c6"]]},{"id":"8c040c56.1c3c7","type":"function","z":"28b69647.0d3f7a","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload=\"please rephrase\";\n    return msg;\n}\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["75198631.d58418"]]},{"id":"873ea127.525ab","type":"ui_form","z":"28b69647.0d3f7a","name":"","label":"","group":"21b28e14.de71b2","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":300,"wires":[["a82ee2ab.0a457"]]},{"id":"5e62c8a9.a93c08","type":"debug","z":"28b69647.0d3f7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":40,"wires":[]},{"id":"a621d728.c4c908","type":"watson-conversation-v1","z":"28b69647.0d3f7a","name":"Customer Care","workspaceid":"6f80caf6-6774-4e64-a6dc-2ed74803bb18","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/305db10a-559a-48bb-ae76-007a9cc6f58c","timeout":"","optout-learning":false,"x":360,"y":80,"wires":[["5e62c8a9.a93c08","8c040c56.1c3c7"]]},{"id":"309519ef.64f7c6","type":"ui_text","z":"28b69647.0d3f7a","group":"21b28e14.de71b2","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":300,"y":320,"wires":[]},{"id":"75198631.d58418","type":"ui_text","z":"28b69647.0d3f7a","group":"21b28e14.de71b2","order":4,"width":0,"height":0,"name":"","label":"Bot :","format":"{{msg.payload}}","layout":"col-center","x":620,"y":340,"wires":[]},{"id":"21b28e14.de71b2","type":"ui_group","z":"","name":"CHATBOT","tab":"4115d085.7f33c","order":1,"disp":true,"width":"13","collapse":false},{"id":"4115d085.7f33c","type":"ui_tab","z":"","name":"Customer  Care  Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]
