Vinayak/flows.json
[{"id":"68af1b6.c7192e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3eda8fb.5c7e47","type":"ui_group","z":"","name":"CHATBOT","tab":"27a6fc3d.92465c","order":1,"disp":true,"width":"13","collapse":false},{"id":"27a6fc3d.92465c","type":"ui_tab","z":"","name":"Customer  Care  Helpdesk","icon":"dashboard","disabled":false,"hidden":false},{"id":"a7f41e6e.2ec798","type":"function","z":"68af1b6.c7192e4","name":"F1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":200,"wires":[["144fa4a0.b2f55b","d059e01b.8dda68"]]},{"id":"9f976a54.7ae3","type":"function","z":"68af1b6.c7192e4","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload=\"please rephrase\";\n    return msg;\n}\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["e8361bfd.a54358"]]},{"id":"c2075366.0198","type":"ui_form","z":"68af1b6.c7192e4","name":"","label":"","group":"3eda8fb.5c7e47","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":300,"wires":[["a7f41e6e.2ec798"]]},{"id":"72f2e5a4.ac6d6c","type":"debug","z":"68af1b6.c7192e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":40,"wires":[]},{"id":"144fa4a0.b2f55b","type":"watson-conversation-v1","z":"68af1b6.c7192e4","name":"Customer Care","workspaceid":"f7dab247-07f7-4183-8b12-7c33a1961906","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/6b6ebe06-b713-474a-a9e0-a2f1539170a8","timeout":"","optout-learning":false,"x":360,"y":80,"wires":[["72f2e5a4.ac6d6c","9f976a54.7ae3"]]},{"id":"d059e01b.8dda68","type":"ui_text","z":"68af1b6.c7192e4","group":"3eda8fb.5c7e47","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":300,"y":320,"wires":[]},{"id":"e8361bfd.a54358","type":"ui_text","z":"68af1b6.c7192e4","group":"3eda8fb.5c7e47","order":4,"width":0,"height":0,"name":"","label":"Bot :","format":"{{msg.payload}}","layout":"col-center","x":620,"y":340,"wires":[]}]
